{{define "title"}}About{{end}}

{{define "main"}}
<h1>About</h1>
<p>Hi, I&#39;m Lyndon. </p>
<p>I’m a software engineer with a keen interest in backend technologies, and a particular fondness for Go. I am
    analytical, love problem-solving, and enjoy thinking about systems and scale. My career has been non-linear, and
    includes roles such as strength coach, data analyst, and service coordinator for mental health services. This broad
    range of experience has been invaluable for my development.</p>
<h2 id="technical-interests">Technical Interests</h2>
<h3>Go</h3>
<p>When programming, I&#39;m having the most fun (and doing my best work) when using a statically-typed, lower-level
    language. My introduction to programming was C, and that essence has always stayed with me.
    I&#39;m drawn to Go as it allows me to handle the lower-level operations that I find most interesting about
    programming, whilst being remarkably productive, performant, and does not abuse abstraction. My goal is to become
    <em>a wizard</em> at Go.
</p>
<h3>Data Structures &amp; Algorithms</h3>
<p>I’m drawn to data structures and algorithms because they are the bedrock upon which efficient software is built. All
    other things being equal, faster software, that uses less resources, is better. Many modern technologies try to
    prevent programmers from needing to think about memory within the computer, or how costly it will be to add an
    element collection; but I think these are important. A developer can still make tremendous progress on what they are
    building while taking even just <em>some</em> care along the way to make sure their solution is efficient.</p>
<h2 id="me-the-person">Me, The Person</h2>
<h3>Life Philosphy</h3>
<p>I strive to understand the world more deeply as well as make it a better place. I&#39;m committed to ongoing
    learning, challenging my perspectives, and shedding irrational beliefs. Additionally, I donate to impactful
    charities every month and get involved in the Effective Altruism community where I can. Developing myself
    continuously, in the spirit of <em>Kaizen</em>, and then paying it forward in some way is how I try to live my life.
</p>
<h3>Learning</h3>
<p>Reading is fundamental to my learning. My bookshelf is packed with works on moral philosophy,
    cognitive psychology, evolution, as well as classic sci-fi like <em>Dune</em> and <em>Foundation</em>. I also
    <em>love</em> to write. Previously, I had a blog named <em>ThereforeThink</em> where I wrote about
    self-development and had over one thousand subscribers. More recently, <a href="/project/portfolio">building this
        very site</a> has allowed me to explore and share my technical passions.
</p>
<h3>Leisure</h3>
<p>In my downtime, I love returning to where I grew up and spending time on the farm. I also like to stay fit and
    healthy, spend time with friends outdoors, and watch cartoons. I can&#39;t help it, I just think Batman is cool.</p>

<hr class="mt-20">
<h2 id="contact">Contact</h2>
<p>
    Whether you’re a fellow developer, a potential collaborator, or just here to explore, I’m glad you stopped by. I’m
    always interested in discussing technology, new projects, and ideas that challenge the status quo. Let's connect,
    especially if you think we can
    make something impactful together!
</p>
{{end}}
