{{define "title"}}Fraudible{{end}}

{{define "main"}}
<h1 id="fraudible">Fraudible</h1>
<p>A command-line tool that converts text to speech using the OpenAI API and sends the audio file via email, so you can
    listen on the go.</p>
<p><a href="https://github.com/ljpurcell/fraudible" target="_blank">View code</a></p>
<h2 id="purpose">Purpose</h2>
<ol>
    <li>Solve a (small) problem in my life using freely available tools</li>
    <li>Practice key tasks, such as HTTP requests and sending emails, using Go</li>
    <li>Experiment with the OpenAI API</li>
</ol>
<h2 id="built-using">Built using</h2>
<ul>
    <li>Go standard library</li>
    <li><a href="https://github.com/joho/godotenv">GoDotEnv</a> to load sensitive information</li>
</ul>
<h2 id="technical-features">Technical features</h2>
<ul>
    <li>API integration</li>
    <li>Audio conversion</li>
    <li>SMTP with attachments</li>
    <li>Configuration management</li>
</ul>

{{end}}
