{{define "title"}}
Home
{{end}}

{{define "main"}}
<div class="space-y-8">
    <h1>
        Hi, my name is <span class="emphasize-most">Lyndon</span>.
    </h1>
    <div>
        I'm a <span class="emphasize-most">software engineer</span> who builds web applications, command line
        tools, and automation scripts. I have a deep interest in creating things that are not only <span
            class="emphasize">correct</span>
        but also <span class="emphasize">efficient</span>.
    </div>

    <div>
        This leads me to topics such as <span class="emphasize">data structures</span>, <span
            class="emphasize">algorithms</span>, and <span class="emphasize">performance optimisation</span>. I still
        have a lot
        to
        learn, but my
        goal is to bring <span class="emphasize-most">knowledge, skill, and polish to how software is
            constructed</span>.
    </div>
</div>
{{end}}
