{{define "title"}}
Home
{{end}}

{{define "main"}}
<div class="space-y-8">
    <h1>
        Hi, my name is <span class="emphasize">Lyndon</span>.
    </h1>
    <h2 class="text-gray-300">
        I'm a <span class="emphasize">software engineer</span> who builds web applications, command line
        tools, and automation scripts.
    </h2>

    <h2 class="text-gray-300">
        I have a deep interest in creating things that are not only <span class="emphasize">correct</span>,
        but <span class="emphasize">efficient</span>.
    </h2>

    <div>
        You can use this site to:
        <ul>
            <li>
                <a href="/about">learn more about me</a>
            </li>
            <li>
                <a href="/projects">check out projects I have built</a>
            </li>
            <li>
                <a href="/posts">read blog posts I have written</a>
            </li>
            <li>
                <a href="/about#contact">get in contact</a>
            </li>
    </div>

    <h3></h3>
</div>
{{end}}
