{{define "title"}}Portfolio{{end}}

{{define "main"}}
<h1 id="dev-ljpurcell">dev.ljpurcell</h1>
<p>Site for development-related things, such as projects and blog posts.</p>
<p><a href="https://github.com/ljpurcell/dev.ljpurcell" target="_blank">View code</a></p>
<h2 id="purpose">Purpose</h2>
<ol>
    <li>Build a customised blog and portfolio site</li>
    <li>Develop fluency using Go for web development</li>
</ol>
<h2 id="built-using">Built using</h2>
<ul>
    <li>Go standard library</li>
    <li><a href="https://github.com/gomarkdown/markdown">gomarkdown/markdown</a> to render blog posts</li>
    <li><a href="https://github.com/alecthomas/chroma">chroma</a> for syntax highlighting</li>
    <li>TailwindCSS</li>
</ul>
<h2 id="technical-features">Technical features</h2>
<ul>
    <li>Markdown parsing and rendering</li>
    <li>Customised inline and block code syntax highlighting</li>
    <li>Caches for blog posts and HTML templates</li>
    <li>Compressed HTTP responses</li>
    <li>Secured static filesystem</li>
    <li>Logging and error handling</li>
</ul>

{{end}}
