{{define "title"}}
{{ .Post.Title }}
{{end}}

{{define "scripts"}}
<link rel="stylesheet" href="/static/chroma.css{{ .EncodingExt }}" />
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
<script nonce="{{.Nonce}}">
    window.MathJax = {
        tex: {
            inlineMath: [['\\(', '\\)']],
            displayMath: [['$$', '$$']]
        },
        chtml: {
            adaptiveCSS: false  // Prevents MathJax from generating CSS dynamically
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Alpine Plugins (Must be before Core) -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>

<!-- Alpine Core -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{{end}}

{{define "main"}}

<h1 id="post-title">{{ .Post.Title }}</h1>

<div class="my-4 flex flex-wrap justify-start items-center">

    {{ range .Post.Tags }}
    <a class="mr-4 opacity-50 font-bold hover:opacity-100" href="/tag/{{ . | urlquery }}">#{{ . }}</a>
    {{ end }}
</div>

{{.Post.Content}}
{{end}}
