{{define "title"}}
Projects
{{end}}

{{define "main"}}
<div class="">
    <h2 class="mt-12 mb-6">Web</h2>
    <div class="grid grid-cols-3 gap-4 md:gap-8 lg:gap-12">
        <div class="">
            <img src="../../static/img/ljpurcell/ljpurcell-logo.webp" class="object-cover rounded-lg" />
            <h3 class="mt-4 mb-2 pl-1">Markdown Blog</h3>
            <div class="italic text-sm px-1">
                This site! A site for development related things, such as projects and blog posts on programming and
                software engineering.
            </div>
        </div>
        <div class="">
            <img src="../../static/img/sharks-app/sharks-app-logo.webp" class="object-cover rounded-lg" />
            <h3 class="mt-4 mb-2 pl-1">SharksApp</h3>
            <div class="italic text-sm px-1">
                A web app for your friendly neighbourhood Sharks basketball team. Includes features such as
                web scraping, user authentication, notifications, and more.
            </div>
        </div>
        <div class="">
            <img src="../../static/img/tragics/tragics-logo.webp" class="object-cover rounded-lg" />
            <h3 class="mt-4 mb-2 pl-1">Tragics</h3>
            <div class="italic text-sm px-1">
                Supercoach for cricket, but with worse rules and an entirely broken point-system.
            </div>
        </div>
    </div>

    <h2 class="mt-12 mb-6">Command Line</h2>
    <div class="grid grid-cols-3 gap-4 md:gap-8 lg:gap-12">
        <div class="">
            <img src="../../static/img/prdy/prdy-logo.webp" class="object-cover rounded-lg" />
            <h3 class="mt-4 mb-2 pl-1">Prdy</h3>
            <div class="italic text-sm px-1">
                A command line tool to do the things a developer can forget before submitting a pull-request.
            </div>
        </div>
        <div class="">
            <img src="../../static/img/got/got-logo.webp" class="object-cover rounded-lg" />
            <h3 class="mt-4 mb-2 pl-1">Got</h3>
            <div class="italic text-sm px-1">
                Got is a command-line application developed in Go, functioning as a basic version control system similar
                to Git.
            </div>
        </div>
        <div class="">
            <img src="../../static/img/fraudible/fraudible-logo.webp" class="object-cover rounded-lg" />
            <h3 class="mt-4 mb-2 pl-1">Fraudible</h3>
            <div class="italic text-sm px-1">
                A command-line tool that converts text to speech using the OpenAI API and sends the audio file via
                email, so you can listen on the go.
            </div>
        </div>
    </div>
</div>
{{end}}
