{{define "title"}} Trafics {{end}}

{{define "main"}}
<h1 id="tragics">Tragics</h1>
<p>Supercoach for cricket, but with worse rules and an entirely broken point system.</p>
<div><a href="https://github.com/ljpurcell/tragics" target="_blank">View code</a></div>
<h2 id="motivation">Motivation</h2>
<p>To create a specialised solution (as opposed to generic spreadsheet software) to make scorekeeping easier.</p>
<h2 id="technologies">Technologies</h2>
<h4 id="backend-">Backend:</h4>
<ul>
    <li>PHP</li>
    <li>Laravel</li>
    <li>MySQL<h4 id="frontend-">Frontend:</h4>
    </li>
    <li>Vue.JS</li>
    <li>TailwindCSS</li>
</ul>
{{end}}
