{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdn.xeiaso.net/static/pkg/iosevka/family.css" />
    <meta charset='utf-8'>
    <title>{{template "title" .}} - ljpurcell</title>
</head>

<body class="theme">
    {{template "nav" .}}
    <main class="container">
        {{template "main" .}}
    </main>
    <footer class="mt-12 font-bold">
        2024
    </footer>
</body>

</html>
{{end}}
